<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Link Icons -->
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <!-- Link Dom -->
  <script src="/dom/nav-collapse.js" defer></script>
  <!-- GENERAL STYLE FOR ALL PAGES -->
  <link rel="stylesheet" href="/css/style.css" />
  <!-- STYLE FOR ALL SCAN PAGE -->
  <link rel="stylesheet" href="/css/dish-list.css" />
  <!-- nav-collapse -->
  <link rel="stylesheet" href="/css/nav-collapse.css" />
  <title>Dishes To Try</title>
</head>

<body>
  <header class="header">
    <a href="#" class="logo-text">
      FOOD<span class="logo-span">SCAN</span>
    </a>
    <nav class="main-nav">
      <ul class="main-nav-list">
        <li><a class="main-nav-link" href="/">Home</a></li>
        <li><a class="main-nav-link" href="#">Contact</a></li>
        <li><a class="main-nav-link active" href="/scan">Scan</a></li>
        <div class="user user-mobile">
          <li><a class="main-nav-link" href="#"><i class='bx bx-user'></i></a></li>
          <li><a class="main-nav-link" href="#">User</a></li>
        </div>
      </ul>
    </nav>
    <div class="user user-desktop">
      <li><a class="main-nav-link" href="#"><i class='bx bx-user'></i></a></li>
      <li><a class="main-nav-link" href="#">User</a></li>
    </div>
    <button class="btn-mobile-nav">
      <i class="bx bx-menu-alt-left icon-mobile-nav" id="bx-menu-alt-left"></i>
      <i class="bx bx-x icon-mobile-nav" id="bx-x"></i>
    </button>
  </header>
  <form action="/dishList/{{dish_name}}" method="GET">
    <main>
      <div class="dish container">
        <h3 class="dish-tertiary-heading">Select One Dish You'd Like To Try</h3>
        <div class="dish-wrapper">
          {{#each dishes.data}}
          <a href="/recipes/{{this.dish_id}}" class="dish a">
            <div class="meal meal-{{this.dish_id}}">
              <img class="dish img-meal img-meal-2" src="{{this.dish_image}}" alt="">
              <p>{{this.dish_name}} <span class="score-span">With {{this.dish_points}} Points</span></p>
            </div>
          </a>
          {{/each}}
        </div>
      </div>
    </main>
  </form>
</body>

</html>