<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/learderboard.css">
    <link href='https://fonts.googleapis.com/css?family=PT Serif Caption' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Stick No Bills' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Pontano Sans' rel='stylesheet'>
    <title>Cooking || Leaderboard</title>
</head>
<body>
    <div class="contianer"> 
        <nav>
            <a href="/" class="logo">
                <p>FOOD <span>SCAN</span></p>
            </a>
            <div class="links">
                <a href="/">Home</a>
                <a href="#">Contact</a>
                <a href="/scan">Scan</a>
            </div>
            <div class="user">
                <img src="/images/ph_user.png" alt="user">
                <p>User</p>
            </div>
        </nav>

        <div class="main-section">
            <div class="left-side">
                <div class="user-info">
                    <img src="/images/depositphotos_137014128-stock-illustration-user-profile-icon.jpg" alt="">
                    <h6>{{capitalize firstEntry.user_name}}</h6>
                </div>
                <div class="user-stats">
                    <div class="stat">
                        <p class="stat-label">Rank</p>
                        <p class="val">1</p>
                    </div>
                    <div class="stat">
                        <p class="stat-label">Score</p>
                        <p class="val">{{firstEntry.points}}</p>
                    </div>
                    <div class="stat">
                        <p class="stat-label">Dishes</p>
                        <p class="val">{{firstEntry.dishes_cooked}}</p>
                    </div>
                </div>
                <div class="lead">
                    <p class="crown">👑</p>
                    <p class="leader-text">Current Leader</p>
                </div>
            </div>

            <div class="right-side">
                <h1>Leaderboard</h1>
                <div class="users">
                    {{#each restEntries}}
                    <div class="other-users">
                        <p>{{addOne @index}}</p>
                        <img src="/images/depositphotos_137014128-stock-illustration-user-profile-icon.jpg" alt="">
                        <p>{{capitalize user_name}}</p>
                        <p><span class="text-green">Dishes</span>: {{dishes_cooked}}</p>
                        <p ><span class="text-green">Score</span> {{points}}</p>
                    </div>
                    {{/each}}
                    
                </div>
            </div>
        </div>  
    </div>
</body>
</html>
