<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/recipe.css">
    <link rel="stylesheet" href="/css/recipe-redo.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=PT Serif Caption' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

    <title>Cooking || Recipes</title>
</head>

<body>
    <div class="container">
        <nav>
            <a href="/" class="logo">
                <p>FOOD <span>SCAN</span></p>
            </a>
            <div class="links">
                <a href="/">Home</a>
                <a href="#">Contact</a>
                <a href="/scan">Scan</a>
            </div>
            <div class="user">
                <img src="/images/ph_user.png" alt="user">
                <p>User</p>
            </div>
        </nav>

        {{!-- <div class="recipe container">
            {{#each recipe}}
            <div>
                <h1>{{this.dish_name}}</h1>
                <img class="recipe-img" src="{{this.dishimage}}" alt="">
                <div class="times">
                    <p class=""><span> {{this.prep_time}} PREP TIME</span> </p>
                    <p class=""><span> {{this.cook_time}} COOK TIME</span></p>
                    <p class="">{{this.total_time}}<span> TOTAL TIME</span></p>
                </div>
                <div class="flex">
                    <div class="flex1">
                        <h5>Instructions</h5>
                        <p class="">{{this.instructions}}</p>
                    </div>
                    <div class="flex2">
                        <h5>Ingredients</h5>
                        <p class="">{{this.ingredients}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
            <a href="/finishedMeal" class="upload-btn">Upload Your Dish</a>
        </div> --}}
        <div class="main-section">
            {{#each recipe.data.data}}
            <div class="left-screen">
                <div class="top">
                    <h1>{{this.dish_name}}</h1>
                    <div class="cook-times">
                        <img src="/images/Vector.png" alt="clock">
                        <div class="cook-time">
                            <p>15mins</p>
                            <p class="des">PREP</p>
                        </div>
                        <div class="cook-time">
                            <p>60min</p>
                            <p class="des">COOK</p>
                        </div>
                        <div class="cook-time">
                            <p>1h 15mins</p>
                            <p class="des">TOTAL</p>
                        </div>
                    </div>

                </div>

                <div class="bottom">
                    <h5>Instructions</h5>
                    <p>{{this.instructions}}</p>
                    <a href="/finishedMeal" class="upload-btn">Upload Your Dish</a>
                </div>
            </div>

            <div class="right-screen">
                <div class="top">
                    <img src="{{this.dish_image}}" alt="">
                </div>

                <div class="bottom">
                    <h5>Ingredients</h5>
                    <ul>
                        <li>{{this.ingredients}}</li>
                    </ul>
                </div>
            </div>
            {{/each}}
        </div>
</body>

</html>